.listWrapper{
	list-style: none;
	margin: 0;
	padding: 0;
}
.listWrapper li{	
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	height: 220px;
	padding: 0;

}

.listWrapper li .itemWrap{
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}
.itemWrap .itemInner{
	display: table-cell;
	vertical-align: middle;
	background-color: rgba(0,0,0,.1);
}
.itemIcon, .itemTitle{
	margin: 5px 0;
	font-size: 15px;
}
.itemFront{
	display: block;
}
.itemBack{
	position:absolute;
	bottom:0%;
	left:0;
	width:100%;
	height:0%;
	color:#fff;
	background-color: rgba(0,0,0,.5);
}
.itemDwrap{
	display: table;
	width: 100%;
	height: 100%;
}
.itemDetails{
	display: table-cell;
	vertical-align: middle;
}
.itemInner:hover .itemFront{
	display: none;
}

/*Media Queries*/
@media screen and (min-width: 991px){
	.itemBack{
		filter:alpa(opacity=0);
		opacity: 1;
		-webkit-transition:bottom .5s ease, opacity .5s ease-out 0s;
		-moz-transition:bottom .5s ease, opacity .5s ease-out 0s;
		-ms-transition:bottom .5s ease, opacity .5s ease-out 0s;
		-o-transition:bottom .5s ease, opacity .5s ease-out 0s;
		transition:bottom .5s ease, opacity .5s ease-out 0s;
		-webkit-transition:bottom .5s ease, height .5s ease-out 0s;
		-moz-transition:bottom .5s ease, height .5s ease-out 0s;
		-ms-transition:bottom .5s ease, height .5s ease-out 0s;
		-o-transition:bottom .5s ease, height .5s ease-out 0s;
		transition:bottom .5s ease, height .5s ease-out 0s;
	}

	.itemInner:hover .itemBack{
		bottom:0%;
		opacity: 1;
		height:100%;
	}
}


@media screen and (min-width: 480px){
	.listWrapper li:nth-child(3n+1){
		border-left: 0;
	}
	.listWrapper li:nth-child(1), 
	.listWrapper li:nth-child(2), 
	.listWrapper li:nth-child(3){
			border-top: 0;
		}
}

@media screen and (max-width: 480px){


	.listWrapper li{
		border-left: 0;

	}
	.listWrapper li:nth-child(1){
		border-top: 0;
	}

}